

#index{
margin-left: 14%;
}

body {
	width: 88%;
	margin: 0 auto;
	background-image: url("Assets/pictures/fondo-abstracto-de-luces-azules_1182-609.jpg");
    color: black;
    text-align: justify;
}
main {
    background-color:#819FF7;
	width:80%;
	margin: 0 auto;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	
	
}

.ir-arriba{
display: none;
padding:20px;
background: #004d4d;
font-size:20px;
color:#fff;
cursor:pointer;
position:fixed;
bottom:20px;
right:20px;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: red;}

.dropdown:hover .dropdown-content {
    display: block;
}